<h1>Editing post</h1>

<%= render "form", post: @post %>

<style>
  .textbox {
    font-family: monospace;
  }
</style>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
